@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*
{
  font-family: 'Poppins', sans-serif;
}
.header-row
{
  padding: 1%;
justify-content: center;
background-color: #008040;
}

a:hover
{
  text-decoration: none;
 color: white;
}
.card-blog
{
  margin-bottom: 5px;
}
.nav-link
{
  color: white;
  font-size: 25px;
  margin: 5px;
  background-color: rgba(238, 238, 238, 0.358);
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: inline-block;
}
.nav-link:hover
{
  opacity: 0.8;
  color: white;
}
.next-upload
{
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px 0 rgba(43, 255, 0, 0.4);

}
.next-upload:hover
{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
textarea
{
  padding: 20px;
  width: 100%;
height: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fdfdfd;
  resize: none;
  pointer-events: scroll;
  font-size: 22px;
}
pre
{
  padding: 20px;
  width: 100%;
height: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fdfdfd;
  resize: none;
  pointer-events: scroll;
  font-size: 22px;
  overflow-y: scroll;

}

.offsite-link
{
  color: #003380;
  font-size: 20px;
}
.offsite-link:hover
{
  color: #008040;
  font-size: 20px;
}
.card:hover
{
  transition: 0.1s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}